.search-box{
    align-items: center;
    right: 0;
    left: 0;
    background-color: white;
    height: 40px;
    padding: 10px;
    width: 500px;
    border-radius: 40px;
    display: flex;
    outline: 0;
    justify-content: space-between;
    gap: 0px;
}
input[type="search"] {
    border: none !important;
    outline: none !important;
}

input, button {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.search-container {
  font-size: 0;
}

.icp {
    max-width: 25px;
    height: auto;
    vertical-align: middle;
    outline: 0;
    justify-content: space-between;
    gap: 0px;
}

#book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.book-link {
    text-decoration: none;
    color: inherit; /* Mantém a cor branca definida */
    display: block;
}

.book-item:hover {
    background-color: #333; /* Efeito hover */
}